<!-- Copyright (c) 2015-present, salesforce.com, inc. All rights reserved -->
<!-- Licensed under BSD 3-Clause - see LICENSE.txt or git.io/sfdc-license -->

<?xml version="1.0" encoding="utf-8"?>
<resources>
<!-- Colors -->
{% for categoryName, category in data.Color %}<!-- {{categoryName}} -->
	{% for color in category %}<color name="SLDS_{{color.name}}" category="{{categoryName}}">{{color.value}}</color>
	{% endfor %}
{% endfor %}

<!-- Icon Background Colors -->
<!-- Note: Utility icons do not have background colors -->

{% for type, iconSet in icons %}{% if not('utility' in type) %}<!-- {{type | capitalize}} icon background colors -->
{% for icon in iconSet %}
	<color name="SLDS_ICON_{{icon.backgroundColorName}}" category="icon-background-color">{{icon.backgroundColor}}</color>{% endfor %}{% endif %}
{% endfor %}
 </resources>