/// Copyright (c) 2015-present, salesforce.com, inc. All rights reserved 
/// Licensed under BSD 3-Clause - see LICENSE.txt or git.io/sfdc-license

package com.salesforce.designsystem;

/**
 * List of all icons in SalesforceDesignSystemIcons.ttf.
 */

public abstract class IconNames {
{% for type, iconSet in icons %}
public static final class {{type | capitalize}}Icons {
{% for icon in iconSet %}
    public static final string {{icon.name | capitalize}} = "\u{{icon.unicode}}";{% endfor %}
}
{% endfor %}
}